<a href="https://colab.research.google.com/github/ShrihariJalihal/LearnPython/blob/main/Copy_of_PNB_3_Loops_and_Iteration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Practice Notebook

Exercise 1:  Write a *while* loop to print numbers from 0 to 10

In [ ]:
#YOUR CODE 
i = 0;
while (i <= 100):
  print(i)
  i+=1;

Exercise 2:  Print the first number greater than 100 that is divisible by 17

In [ ]:
#YOUR CODE HERE
i = 100;
while (i >= 100):
  if (i % 17 == 0) :
    print(i);
    break;
  i+=1;

Exercise 3: Using *for* loop print out the characters of 'Portland'

In [ ]:
#YOUR CODE HERE
for c in "Portland" :
  print(c)

Exercise 4: Do the following:

1. Use a lower bound of 1 and an upper bound of 10 with range to print 1-9
2. Use range with one bound only, the number 10, to print the first ten numbers
3. Use a step increment to count the even numbers through 10

In [ ]:
#YOUR CODE HERE
x = range(1,10);
for i in x :
  print(i)

In [ ]:
#YOUR CODE HERE
x = range(10);
for i in x:
  print(i)

In [ ]:
#YOUR CODE HERE
x = range(2,11,2);
for i in x:
  print(i)

Exercise 5:  print each letter of "Python" three times

In [ ]:
#YOUR CODE HERE
for c in "Python" :
  for i in range(3) :
    print(c);

Exercise 6: Write a *for* loop for the following

1.  print the squares of numbers from 1 to 10.
2.  iterate over a list of names and print each name
3.  calculate the sum of numbers in a given list.

In [ ]:
#YOUR CODE HERE
for val in range(1,10) :
  print(val**2)

In [ ]:
#YOUR CODE HERE
for name in ["name1", "name2", "name3"] :
  print(name)

In [ ]:
#YOUR CODE HERE
sum = 0;
for i in range(10) :
 sum = sum + i;
print(sum)

Exercise 7: Write a nested loop to generate multiplication tables for numbers from 1 to 10

In [ ]:
#YOUR CODE HERE
for i in range (1,100) :
  print("-----------")
  
  for j in range (1,11) :
    print(str(i)+"X"+str(j)+"="+str(i*j))
  
  print("-----------")