<a href="https://colab.research.google.com/github/ShrihariJalihal/LearnPython/blob/main/Copy_of_PNB_4_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Practice Notebook

#### Manually Created Functions
Functions are very easy to write in python and all non-trivial programs have functions. Function names have the same rules as variable names.

#### Built in Functions
Python comes with a nice set of built-in functions
The complete set can be seen at:https://docs.python.org/3.6/library/functions.html

We take a look at the most used ones here.

## Manually Created Functions

#### Exercise 01: Build a function that takes the below string as a parameter and returns the words in the given string in backward order.

Hint: [Split the words and join them in the reverse order using ' '.join(iterable)](https://docs.python.org/3/library/stdtypes.html)

In [1]:
string1 = "my name is johnny"

In [3]:
## YOUR CODE HERE
def reverse_words(input_str) :
  
  return " ".join(input_str.split(" ")[::-1]);
reverse_words(string1)

'johnny is name my'

#### Exercise 02: For the given tuple of numbers, do the following:
* Write a function which takes an integer 'N' as a parameter and returns the sum of multiples of 3 or 5 between 0 and N (limit). Where N is any element from the given tuple.
* Print all the sum of multiples for each element from the tuple.
* Example: If we list all the natural numbers less than 10 that are multiples of 3 or 5, we get 3, 5, 6, and 9 and their sum is 23

In [2]:
tuple2 = (10, 20, 30, 40, 50)

In [3]:
from IPython.core.interactiveshell import Integer
## YOUR CODE HERE
def test(numb) :
  sum = 0
  for i in range (0,numb) :
    if (i%3 == 0 or i%5 == 0) :
      sum += i;
  return sum;

[test(number) for number in tuple2]

[23, 78, 195, 368, 543]

#### Exercise 03: Build a function to print prime numbers within the given range.

In [4]:
limit = 20
## YOUR CODE HERE
[x for x in range(2, limit) if all(x % y != 0 for y in range(2, x))]

[2, 3, 5, 7, 11, 13, 17, 19]

#### Exercise 4: Rock Paper Scissors: Complete the function below that takes the given input word as a parameter and selects a random element from the words list. It then prints the random word within the function and returns a string, declaring 'win' or 'lose' or 'tie'.

Example: Random input= 'Scissors', User input= Paper, Output = 'lose'

Hint: [random.choice](https://docs.python.org/3/library/random.html)

In [8]:
import random
words = ['Rock','Paper','Scissors']
input  = 'Paper'

def game(input):
  ## Complete the function
  choice = random.choice(words)
  print(choice)

  if choice == input:
    print("tie")
  elif choice == words[0] :
    print("win")
  else :
    print("loose")
game("Scissors")

Scissors
tie

## Built-in Functions

#### Exercise 05: Extract maximum value of each element in the given list using the built-in max function.



Hint: [max(iterable)](https://docs.python.org/3/library/functions.html#max)

In [10]:
list1 = [[1,2,4],[5,6],[8,9,12],[21,44],[121]]

In [11]:
## YOUR CODE HERE
[max(input) for input in list1]

[4, 6, 12, 44, 121]

#### Exercise 06: For given list *a* and *b* perform the following Aggregate Functions
* len(iterable)
* max(iterable)
* min(iterable)
* sorted(iterable, key, reverse)
* sum(iterable, start)

In [13]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
b = [5,10, 15, 20, 25, 30, 35, 40, 45, 50]

In [24]:
# YOUR CODE HERE
print("lenght: ",len(a), len(b))
print("max", max(a), max(b))
print("min", min(a), min(b))
print("unsorted", a, b)
print("sorted", sorted(a), sorted(b))
print("Sum", sum(a), sum(b))

lenght:  10 10
max 10 50
min 1 5
unsorted [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
sorted [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
Sum 55 275

#### Exercise 07: Print the data type of x, y and z  values

In [27]:
x = 10
# YOUR CODE HERE
print("type of x", type(x))
y = 12.6
# YOUR CODE HERE
print("type of y", type(y))
y = 12.6
z = x + y  
# YOUR CODE HERE
print("type of z", type(z))

type of x <class 'int'>
type of y <class 'float'>
type of z <class 'float'>

Exercise 08:  Initialize the string and perform the following:

1. Check the type of string
2. convert string to int and check the type

In [28]:
a = '1234'
# YOUR CODE HERE

In [29]:
print(type(a))
print(type(int(a)))

<class 'str'>
<class 'int'>