<a href="https://colab.research.google.com/github/ShrihariJalihal/LearnPython/blob/main/PNB_5_Strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Practice Notebook

## Strings

A string is a series of characters. In Python, anything inside "quotes" is a string. You can either use 'single quotes' or "double quotes".

For more info, refer [here](https://www.w3schools.com/python/python_strings.asp).

####Exercise 1:

Declare the values of a string variable to be 'Tests, Quizzes, Individual Labs, Group Labs and Hackathons'.


Print the string.

In [ ]:
# YOUR CODE HERE
strVal = 'Tests, Quizzes, Individual Labs, Group Labs and Hackathons'

####Exercise 2:

Declare the values of a string variable to be "I need Tables, Chairs, Cupboards", in double qoutes. 

Print the string.

In [ ]:
# YOUR CODE HERE
strVal2 = "I need Tables, Chairs, Cupboards"

####Exercise 3:

Concatenate the two string variables declared in Exercise 1 and Exercise 2.

In [ ]:
# YOUR CODE HERE
strVal3 = strVal + strVal2

####Exercise 4:

Write a short note on any topic in python and print the note using single `print` statement.

In [ ]:
# YOUR CODE HERE
print(strVal3)

Tests, Quizzes, Individual Labs, Group Labs and HackathonsI need Tables, Chairs, Cupboards

####Exercise 5:

* Concatenate the output of the string in Exercise 3 and output of the string in Exercise 1.
* Print the length of the concatenated string.

In [ ]:
# YOUR CODE HERE
print(strVal3, len(strVal3))
print(strVal, len(strVal))

Tests, Quizzes, Individual Labs, Group Labs and HackathonsI need Tables, Chairs, Cupboards 90
Tests, Quizzes, Individual Labs, Group Labs and Hackathons 58

#### Exercies 6:

Perform simple string operations for A = "Hello", B = "world!":
 * Concatenate by +.
 * Multiple concatenation by *  (ex: 4 * A + " " * 3 + B * 2).
 * Check for substring with `in`.
 * Determine the size (number of characters) using `len`.

In [26]:
# YOUR CODE HERE
A = "Hello"
B = "world!"

AB = A+B;
print(AB);
multipliedValue = 4 * A + " " * 3 + B * 2
print (multipliedValue)

print(A in multipliedValue)
print(len(AB))

Helloworld!
HelloHelloHelloHello   world!world!
True
11

####Exercies 7:

For the given variable name = 'hELLO, WORLD!', perform the following:
* Print the character '!'. 
* Convert the string to lowercase.
* Print the first character in upper case.
* Print a string where all the upper case letters are lower case and vice versa.

In [27]:
name = 'hELLO, WORLD!'
# YOUR CODE HERE
print(name[12])

!

In [2]:
# The lower() method returns a string converted to lowercase.
# YOUR CODE HERE
print(name.lower())

hello, world!

In [28]:
# YOUR CODE HERE
print(name.capitalize())

Hello, world!

In [4]:
# YOUR CODE HERE
print (name.swapcase())

Hello, world!

#### Exercies 8:

For a given string, perform the following:
* Using `for` to iterate over a string in Python.
* Print the number of times the letter/character ‘s’ appears in a string.

In [9]:
# YOUR CODE HERE
itreatingString = "TESTING the string Iterations with for loop"
count = 0;
for c in itreatingString :
  if (c == 's') :
    count += 1
print("Char s appears: ",count, "times in given string")

Char s appears:  2 times in given string

In [ ]:
# YOUR CODE HERE

#### Exercies 9:

For a given list, perform the following:

* Print the list in reverse oder.

* Print the following my_list[-1].

* Print the following output  [2, 33, 222, 14] using slice method.

In [15]:
my_list = [2, 33, 222, 14, 25]
# YOUR CODE HERE
my_list.reverse()
print(my_list)

[25, 14, 222, 33, 2]

In [16]:
my_list = [2, 33, 222, 14, 25]
# YOUR CODE HERE
for item in my_list[::-1] :
  print(item)

25
14
222
33
2

In [29]:
my_list = [2, 33, 222, 14, 25]
# YOUR CODE HERE
print(my_list[:-1])

[2, 33, 222, 14]

#### Exercies 10:

For the given string, perform following methods:

* Split the string by using 'word.split' and print the result.
* Replace MachineLearning by Python using `.replace()`.

In [24]:
# YOUR CODE HERE
splitString = "TESTING the word split MachineLearning"
print(splitString.split())

['TESTING', 'the', 'word', 'split', 'MachineLearning']

In [25]:
# YOUR CODE HERE
splitString = "TESTING the word split MachineLearning"
print(splitString.replace("MachineLearning", "####"))

TESTING the word split ####