<a href="https://colab.research.google.com/github/ShrihariJalihal/LearnPython/blob/main/SNB_5_Strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Practice Notebook

## Strings

A string is a series of characters. In Python, anything inside "quotes" is a string. You can either use 'single quotes' or "double quotes".

For more info, refer [here](https://www.w3schools.com/python/python_strings.asp).

####Exercise 1:

Declare the values of a string variable to be 'Tests, Quizzes, Individual Labs, Group Labs and Hackathons'.


Print the string.

In [ ]:
item1 = 'Tests, Quizzes, Individual Labs, Group Labs and Hackathons'
print(item1)

####Exercise 2:

Declare the values of a string variable to be "I need Tables, Chairs, Cupboards", in double qoutes. 

Print the string.

In [ ]:
item2 = '"I need Tables, Chairs, Cupboards"'
print(item2)

####Exercise 3:

Concatenate the two string variables declared in Exercise 1 and Exercise 2.

In [ ]:
concatenate_1 = item1 + item2
print(concatenate_1)

####Exercise 4:

Write a short note on any topic in python and print the note using single `print` statement.

In [ ]:
note = """Triple quoted strings are best used for documentation. They are also useful for storing long strings.

1. We can use single or double quotes
2. We can also use single quotes or double quotes within
3. The line breaks etc are captured."""
print(note)

####Exercise 5:

* Concatenate the output of the string in Exercise 3 and output of the string in Exercise 1.
* Print the length of the concatenated string.

In [ ]:
concatenate_2 = concatenate_1 + item1
print(concatenate_2)
print(len(concatenate_2))

#### Exercies 6:

Perform simple string operations for A = "Hello", B = "world!":
 * Concatenate by +.
 * Multiple concatenation by *  (ex: 4 * A + " " * 3 + B * 2).
 * Check for substring with `in`.
 * Determine the size (number of characters) using `len`.

In [ ]:
A = "Hello"
B = "world!"
AB = A + B
print(AB)
print("=================================")
h4s3w2 = 4 * A + " " * 3 + B * 2
print(h4s3w2)

print("=================================")
print(A in h4s3w2)
print("=================================")
print(len(AB))

####Exercies 7:

For given variable name = 'hELLO, WORLD!', perform the following:
* Print the character '!'. 
* Convert the string to lowercase.
* Print the first character in upper case.
* Print a string where all the upper case letters are lower case and vice versa.

In [ ]:
name = 'hELLO, WORLD!'
print(name[12])

In [ ]:
# The lower() method returns a string converted to lowercase.
lowercase_name = name.lower()

print(lowercase_name)

In [ ]:
print(name.capitalize())

In [ ]:
print(name.swapcase())

#### Exercies 8:

For a given string,  perform the following:
* Using `for` to iterate over a string in Python.
* Print the number of times the letter/character ‘s’ appears in a string.

In [ ]:
a = "Python Classes"
for char in a:
   print(char)

In [ ]:
a  = "Python Classes"
count = 0
for letter in a:
    if letter == 's':
        count = count +1
print(count)

#### Exercies 9:

For a given list, perform the following:

* Print the list in reverse oder.

* Print the following my_list[-1].

* Print the following output  [2, 33, 222, 14] using slice method.

In [ ]:
my_list = [2, 33, 222, 14, 25]
print(my_list[::-1])

In [ ]:
my_list = [2, 33, 222, 14, 25]
print(my_list[-1])

In [ ]:
my_list = [2, 33, 222, 14, 25]
print(my_list[:-1])

#### Exercies 10:

For given string, perform following methods:

* Split the string by using 'word.split' and print the result.
* Replace MachineLearning by Python using `.replace()`.

In [ ]:
word="MachineLearning career"
print(word.split(' '))

In [ ]:
x = word.replace("MachineLearning","Python")
print(x)