<a href="https://colab.research.google.com/github/ShrihariJalihal/LearnPython/blob/main/SNB_3_Loops_and_Iteration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Practice Notebook

Exercise 1:  Write a while loop to print numbers from 0 to 10?

In [ ]:
x = 0
while x < 10:
     print(x)
     x += 1

Exercise 2:  Print the first number greater than 100 that is divisible by 17.

In [ ]:
x = 100 
while x <= 1000: 
    x += 1 
    if x % 17 == 0: 
        print('', x, 'is the first number greater than 100 that is divisible by 17.') 
        break

Exercise 3: Using for loop print out the characters of 'Portland'

In [ ]:
for i in 'Portland': 
    print(i)

Exercise 4: Do the following:

1. You use a lower bound of 1 and an upper bound of 10 with range to print 1-9
2. use range with one bound only, the number 10, to print the first ten numbers
3. Use a step increment to count the even numbers through 10

In [ ]:
for i in range(1,10):
     print(i)

In [ ]:
for i in range(10):
    print(i)

In [ ]:
for i in range(1, 11, 2): 
    print(i)

Exercise 5:  print each letter of "Python" three times

In [ ]:
name = 'Python'
for i in range(3): 
    for i in name: 
        print(i)

Exercise 6: Write a for loop for the following

1.  print the squares of numbers from 1 to 10.
2.  to iterate over a list of names and print each name
3.  to calculate the sum of numbers in a given list.

In [ ]:
for i in range(1, 11):
    print(i**2)

In [ ]:
names = ['John', 'Jane', 'Jim', 'Jessica']
for name in names:
    print(name)

In [ ]:
numbers = [1, 2, 3, 4, 5]
sum = 0
for number in numbers:
    sum += number
print(sum)

Exercise 7: Write a nested loop to generate multiplication tables for numbers from 1 to 10

In [ ]:
for i in range(1, 11):
    for j in range(1, 11):
        print(i * j, end='\t')
    print()