<a href="https://colab.research.google.com/github/ShrihariJalihal/LearnPython/blob/main/SNB_4_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Practice Notebook

#### Functions
Functions are very easy to write in python and all non-trivial programs will have functions. Function names have the same rules as variable names.

#### Built in Functions
Python comes with a nice set of built-in functions
The complete set can be seen at:https://docs.python.org/3.6/library/functions.html
We take a look at the most used ones here. We have clustered and classified them for better understanding.

#### Exercise 01: Build a function that takes the below string as a parameter and returns the words in the given string in backward order.

Hint: [Split the words and join them in the reverse order using ' '.join(iterable)](https://docs.python.org/3/library/stdtypes.html)

In [ ]:
string1 = "my name is johnny"

In [ ]:
## YOUR CODE HERE
def rev_sentence(sentence):
    words = sentence.split(' ')
    reverse_sentence = ' '.join(words[::-1])    
    return reverse_sentence

rev_sentence(string1)

#### Exercise 02: For the given tuple of numbers, do the following:
* Write a function which takes an integer 'N' as a parameter and returns the sum of multiples of 3 or 5 between 0 and N (limit). Where N is any element from the given tuple.
* Print all the sum of multiples for each element from the tuple.
* Example: If we list all the natural numbers less than 10 that are multiples of 3 or 5, we get 3, 5, 6, and 9 and their sum is 23

In [ ]:
tuple2 = (10, 20, 30, 40, 50)

In [ ]:
## YOUR CODE HERE
def getMultiples(N):
  sum = 0
  for i in range(1,N):
    if i%3==0 or i%5==0:
      sum += i
  return sum

[getMultiples(each) for each in tuple2]

#### Exercise 03: Build a function to print prime numbers within the given range.

In [ ]:
## YOUR CODE HERE
limit = 20

[x for x in range(2, limit) if all(x % y != 0 for y in range(2, x))]

#### Exercise 4: Rock Paper Scissors: Complete the function below that takes the given input word as a parameter and selects a random element from the words list. It then prints the random word within the function and returns a string, declaring 'win' or 'lose' or 'tie'.

Example: Random input= 'Scissors', User input= Paper, Output = 'lose'

Hint: [random.choice](https://docs.python.org/3/library/random.html)

In [ ]:
import random
words = ['Rock','Paper','Scissors']
input  = 'Paper'

def game(input):
  ## Complete the function
  choice = random.choice(words)
  print('The random choice was:',choice)  
  if choice == input:
    print('Its a Tie')
  elif choice == words[0]:
    print('You Win')
  else:
    print('You Lose')
  return None

game(input)

#### Exercise 05: Extract maximum value of each element in the given list using the built-in max function.



Hint: [max(iterable)](https://docs.python.org/3/library/functions.html#max)

In [ ]:
list1 = [[1,2,4],[5,6],[8,9,12],[21,44],[121]]

In [ ]:
## YOUR CODE HERE
[max(each) for each in list1]

#### Exercise 06: For given list *a* and *b* perform the following Aggregate Functions
* len(iterable)
* max(iterable)
* min(iterable)
* sorted(iterable)
* sum(iterable)

**Note:** Refer to the python built-in functions documentation [link](https://docs.python.org/3/library/functions.html) for the above Aggregate functions to the additional paramters for example., key, reverse etc..

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
b = [5,10, 15, 20, 25, 30, 35, 40, 45, 50]

In [ ]:
print("Finding len of a and b", len(a), len(b))
print("Max values of a and b", max(a), max(b))
print("Min values of a and b",(min(a), min(b)))
print("Sorted values of a and b",sorted(a), sorted(b))
print("Sorted values of a and b",sorted(a), sorted(b))
print("Sum of the values of a and b",sum(a), sum(b))

Finding len of a and b 10 10
Max values of a and b 10 50
Min values of a and b (1, 5)
Sorted values of a and b [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
Sorted values of a and b [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
Sum of the values of a and b 55 275

#### Exercise 07: Print the data type of x, y and z  values

In [ ]:
x = 10
print("x is of type:",type(x))

y = 12.6
print("y is of type:",type(y))
  
z = x + y  
print(z)
print("z is of type:",type(z))

x is of type: <class 'int'>
y is of type: <class 'float'>
22.6
z is of type: <class 'float'>

Exercise 08:  Initializ the string and perform the following:

1. Check the type of string
2. convert string to int and check the type

In [ ]:
a = '1234'
print(type(a))

ival = int(a)
print(type(ival))

<class 'str'>
<class 'int'>